<form action="http://localhost:8080/api/products" method="post">
  <div>
    <label for="nombre">Nombre del Producto:</label>
    <input type="text" id="nombre" name="nombre" required />
  </div>
  <div>
    <label for="proveedor">Proveedor:</label>
    <input type="text" id="proveedor" name="proveedor" required />
  </div>
  <div>
    <button type="submit">Dar de Alta</button>
  </div>
</form>