<form action="http://localhost:8080/api/products/toDepartment" method="post">
  <h2>Dar de alta en departamento</h2>
  <div>
    <label for="idProduct">ID del Producto:</label>
    <input type="text" id="idProduct" name="idProduct" required />
  </div>
  <div>
    <label for="keyDepartment">Clave del departamento:</label>
    <input type="text" id="keyDepartment" name="keyDepartment" required />
  </div>
  <div>
    <button type="submit">Dar de Alta</button>
  </div>
</form>