<nav>
  <ul>
    <li><a href="/update/products/department" id="updateProductsDepartment">Dar de alta a un producto en un depto</a></li>
    <li><a href="/delete/products/department" id="deleteProductsDepartment">Dar de baja a un producto en un depto</a></li>
    <li><a href="/main" id="">Regresar</a></li>
  </ul>
</nav>
