<nav>
  <ul>
    <li><a href="/departments" id="selectDepartments">Consultar Departmentos</a></li>
    <li><a href="/post/departments" id="postDepartment">Alta de Departmento</a></li>
    <li><a href="/main" id="">Regresar</a></li>
  </ul>
</nav>
