<form action="http://localhost:8080/api/departments" method="post">
  <div>
    <label for="Nombre">Nombre del Departamento:</label>
    <input type="text" id="name" name="name" required />
  </div>
  <div>
    <label for="Responsable">Responsable del departamento:</label>
    <input type="text" id="personInCharge" name="personInCharge" required />
  </div>
  <div>
    <label for="Clave del departamento">Clave del departamento:</label>
    <input type="text" id="keyDepartment" name="keyDepartment" required />
  </div>
  <div>
    <button type="submit">Dar de Alta</button>
  </div>
</form>