<form action="api/departments" method="post">
  <div>
    <label for="nombre">Nombre del Departamento:</label>
    <input type="text" id="nombre" name="nombre" required />
  </div>
  <div>
    <label for="proveedor">Responsable del departamento:</label>
    <input type="text" id="proveedor" name="proveedor" required />
  </div>
  <div>
    <label for="Clave del departamento">Clave del departamento:</label>
    <input type="text" id="key" name="key" required />
  </div>
  <div>
    <button type="submit">Dar de Alta</button>
  </div>
</form>