<nav>
  <ul>
    <li><a href="/products" id="consultarProductos">Consultar Productos</a></li>
    <li><a href="/post/products" id="postProduct">Alta de Producto</a></li>
    <li><a href="/delete/products" id="deleteProduct">Baja de Producto</a></li>
    <li><a href="/main" id="">Regresar</a></li>
  </ul>
</nav>
