<nav>
  <ul>
    <li><a href="http://localhost:8080/products" id="altaProducto">Alta de Producto</a></li>
    <li><a href="http://localhost:8080/products-list" id="consultarProductos">Consultar Productos</a></li>
    <li><a href="http://localhost:8080/products-delete" id="bajaProducto">Baja de Producto</a></li>
    <li><a href="http://localhost:8080/main" id="regresar">Regresar</a></li>
  </ul>
</nav>
