<nav>
  <ul>
    <li><a href="/products-main" id="productos">Productos</a></li>
    <li><a href="/departments-main" id="departamentos">Departamentos</a></li>
    <li><a href="/product-to-departments" id="asignaciones">Asignaciones</a></li>
    <li><a href="#" id="precios">Precios</a></li>
    <li><a href="#" id="salir">Salir</a></li>
  </ul>
</nav>