<nav>
  <ul>
    <li><a href="/products/assign-price" id="consultarProductos">Asignar precio a un producto</a></li>
    <li><a href="/products/byDepartment" id="postProduct">Consultar precios de productos por depto</a></li>
    <li><a href="/main" id="">Regresar</a></li>
  </ul>
</nav>
